<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    Career
  </title>
  <link rel="icon" type="image/x-icon" href="./favicon.ico">


  <% for (var i=0; i<htmlWebpackPlugin.files.css.length; i++) { %>
    <style>
      <%=compilation.assets[htmlWebpackPlugin.files.css[i].substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
    </style>
    <% } %>
      <% for (var i=0; i<htmlWebpackPlugin.files.js.length; i++) { %>
        <script><%= compilation.assets[htmlWebpackPlugin.files.js[i].substr(htmlWebpackPlugin.files.publicPath.length)].source() %></script>
        <% } %>
</head>

<body>
  <%= require('html-loader!./partial/header.html').default %>

    <div class="career-page">Career page !!!</div>

</body>

</html>