<!doctype html>
<html>

<head>
  <meta charset="utf-8">

  <title>
    Main
  </title>

  <link rel="icon" type="image/x-icon" href="./favicon.ico">

  <% for (var i=0; i<htmlWebpackPlugin.files.css.length; i++) { %>
    <style>
      <%=compilation.assets[htmlWebpackPlugin.files.css[i].substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
    </style>
    <% } %>
      <% for (var i=0; i<htmlWebpackPlugin.files.js.length; i++) { %>
        <script><%= compilation.assets[htmlWebpackPlugin.files.js[i].substr(htmlWebpackPlugin.files.publicPath.length)].source() %></script>
        <% } %>
</head>

<body>
  <%= require('html-loader!./partial/header.html').default %>

    <div class="main-page">Main page !!!</div>

    <image src="./assets/images/city.jpg" width="500"></image>
    <image src="./assets/images/svgImg.svg"></image>
</body>

</html>