@import "./assets/styles/common.scss";

.main-page {
  background-color: rgb(35, 190, 100);
  text-transform: lowercase;
  text-decoration: underline;

  background-image: url("./assets/images/city.jpg");
}
