.header {
  border-bottom: 1px solid grey;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 8px;
  }
}
